# Configurações do Banco de Dados
DATABASE_URL="postgresql://postgres:postgres@localhost:5433/auth_db?schema=public"
NODE_ENV=local
PORT=3335

# Configurações de Log
LOG_LEVEL=debug

# Configurações de Segurança
JWT_SECRET=secret
JWT_EXPIRES_IN=1d 


DEFAULT_ADMIN_EMAIL=""
DEFAULT_ADMIN_PASSWORD=""
DEFAULT_COMPANY_ID="cmc8628090000i0ucb1vvpspl"

DEFAULT_USER_EMAIL=
DEFAULT_USER_PASSWORD=

